@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');

.header-title{
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  color: red;
  box-shadow: 2px 4px 16px rgba(0,0,0,.4);
  font-weight: bold;
}

.login.button{
  background-color: black;
  border: none;
  color: white;
  padding: 20px 40px;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.login.button:hover{
  background-color: white;
  color: black;
}

.card {
  text-decoration: none; 
  border: 2px solid #eee; 
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  border-radius: 30px;
  padding: 16px;
  margin: 16px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  font-family: sans-serif;
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-title{
  font-family: sans-serif;
  background-color: black;
  font-size: 24px;
  padding: 4px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.card-description{
  font-family: 'Kranky', cursive;
  text-shadow: 0.5px 0px black;
  font-size: 18px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: italic;
}

hr{
  box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}

.container-progress{
  width: 100%;
  background-color: #ddd;
  border-radius: 1px solid #F44336;
  border-radius: 35px;
}

.skills-progress{
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: 65%;
  background-color: #F44336;
  border-radius: 35px;
}

.card:hover{
  background-color: #ededed;
}

.button-project{
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
}

.button-project span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-project span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-project:hover span {
  padding-right: 25px;
}

.button-project:hover span:after {
  opacity: 1;
  right: 0;
}

.button-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}